#Inventory {
  width: 36%;
  height: 70%;
  right: 15px;
  top: 40%;
  background: #44403c;
  transform: translateY(-40%);
  border: 2px solid #b0b0b0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 56% 31% 8%;
}

#Title {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(89, 185, 173, 1) 0%,
    rgba(0, 105, 92, 1) 22%,
    rgba(0, 77, 64, 1) 39%,
    rgba(0, 5, 4, 1) 61%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Title > #Frame {
  background: linear-gradient(
    146deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(130, 90, 44, 1) 64%,
    rgba(93, 63, 28, 1) 100%
  );
  width: 22px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 6px;
}

#Title #Bttn {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 186, 186, 1) 19%,
    rgba(240, 128, 128, 1) 40%,
    rgba(240, 128, 128, 1) 100%
  );
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Title > #Text {
  margin-left: 15px;
}

#Character {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
}

#Character > #CharStats {
  background: lightgray;
  box-shadow: 3px 3px 10px 2px #44403c inset, -3px -3px 10px 2px #44403c inset;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 30px);
  gap: 25px;
}

#Character > #CharEquipament {
  background: lightgray;
  box-shadow: 3px 3px 10px 2px #44403c inset, -3px -3px 10px 2px #44403c inset;
  position: relative;
}

#Grid {
  position: relative;
  background: lightgray;
  box-shadow: 3px 4px 10px 2px #44403c inset, -3px -3px 10px 2px #44403c inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Money {
  position: relative;
  background: lightgray;
  box-shadow: 3px 4px 10px 2px #44403c inset, -3px -3px 10px 2px #44403c inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribute-plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 13px;
  height: 45px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
